<!DOCTYPE html>
<html>
    <head>
        <title>Menu Cadastro</title>
        <meta charset="utf-8" />

    </head>
    <body>
        <h1>Funcionarios Cadastrados:</h1>
        <h2>{{ nome }}</h2>
        <p>
            <strong>Nome:</strong> Brasilia<br>
            <strong>CPF:</strong> Brasilia<br>
            <strong>Empresa:</strong> Brasilia<br>
            <strong>Função:</strong> Brasilia<br>
            <strong>Cidade:</strong> Brasilia<br>
            <strong>Telefone:</strong> (61)985947635<br>
            <strong>Email:</strong><a href="mailto:lucas_1801@yahoo.com.br">lucas_1801@yahoo.com.br</a><br>
        </p>
    </body>
</html>